<h1>What is gameboy.tech?</h1>
<p>
  gameboy.tech is an effort to revitilize the Game Boy software development community. Despite this gradual decline over the years, there's been a growing interest in hardware modifications. These modifications aim for improved form, function and sometimes both. The Pokemon franchise is another force that is causing a resurgence in Game Boy interest. The 25th Anniversary of Pokemon and Pokemon GO have caused many older fans to have a nostalgic relapse. This is good news for staying relevant today.
</p>
<p>
  The plan to achieve this goal is to become a directory, archive and host for Game Boy related material.  This will hopefully encourage contribution and participation to the resources and communities already available, instead of starting from the ground-up. Fragmentation is a big problem with many communities. The size of the Game Boy community requires us to stick together. This is why there will be no discussion-related part of this site. All resources are external and you are encouraged to sign-up and participate where they are located.
</p>
<p>
  Thank you!
</p>
<p>
  The best way to get started is to begin reading the <a href="http://gbdev.gg8.se/wiki/articles/Main_Page">the wiki</a>.
</p>
<p>
  ...Or maybe, <a href="/why">you need some convincing</a>. Learn why the Game Boy and its 8-bit cousins will remain useful.
</p>

